<!-- 
RELACIÓN: CSS, MODELOS (REFERENCIA), VIEWS (VARIANTES O CLAVES DE DICCIONARIOS)

JINJA LOOPS: {.% for x in array %} {.% endfor %}
. para recorrer datos de una lista de lementos
. {.{}} 'variable tag' es para mostrar en el navegados {.%%} 'block tag' es para lógica (funcionan dentro de comentarios por eso puso el punto y sin espacios solo dentro)
. pueden contener cualquier elemento html

JINJA CONDITIONS: {.% if %} {.% else %} {.% endif %}

ETIQUETA DIV:
crear contenedores o secciones dentro de una página web para organizar y estructurar el contenido

ETIQUETA ARTICLE:
definir sección independiente, puede ser considerada entidad autónoma y puede incluir un encabezado, texto, imágenes, videos u otros elementos.

a href="":
crear enlace a otra página web o a un elemento dentro de la misma página, href especifica la URL

NAV:
definir una sección de navegación en la página, agrupa/estructura enlaces de navegación

UL:
crear lista no ordenada de elementos ejem: lista de enlaces de navegación.

LI:
define cada elemento de la lista. ejem: definir cada enlace de navegación.

SECUENCIA EJEMPLO:
crear un DIV > luego A > luego botones

-->

{# comentario jinja que solo se ve en el backend #}
<!-- comentario html que se ve en el navegador -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'diseños_heredados/base_heredada_1.html' %}

    {% block var_bloque_inicio_contenido %}

    <h1>PROYECTOS.HTML</h1>

    {% for bucle_jinja_proyectos in ref_html_proyectos %}
    <article><h2>{{ bucle_jinja_proyectos.tab_proyectos_col_nombres }}</h2></article>
    {% endfor %}

    {% endblock %}

</body>
</html>