<!-- ESTOS SON ARCHIVOS CREADOS ATRAVES DE UN MODULO DE PYTHON 'TEMPLATE ENGINE'
. permiten ejecutar lógica
. el navegador/frontend recibe otro html ya procesado
. diccionario_titulo puede tambien ser una consulta de base de datos
. TEMPLATE INHERITANCE: interfaz q puede ser heredada/reutilizada en otras interfaces
. EXTENDS: parámetro nombre archivo
. BLOCK: decirle que en esta seccion habra mas contenido y así la pagina que lo herede podra insertar en esa parte su contenido

. contenido dinámico: consulta base de datos genera html envia a cliente y puede ir cambiando, contenido que servidor cambia dinámicamente
. css es contenido estático por que no necesita ser pre-procesado por el servidor, siempre va a ser el mismo contenido, audios, imagenes, videos, pdf, etc.
. {.% load static %} necesito especificar que carge los archivos estáticos, despues del xtends pero antes del block
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'diseños_heredados/base_heredada_2.html' %}

    {% load static %}

    {% block var_bloque_inicio_contenido_admin %}

    <h3> {{ ref_html_titulo }} </h3>
    
    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quasi facere dolores minima architecto laudantium possimus voluptates numquam quam quae excepturi facilis porro odio distinctio itaque accusamus recusandae modi repellat dolor, totam illo nemo sequi rem. Animi possimus fuga consectetur accusantium nihil nisi repudiandae debitis deleniti repellat quas quasi nobis nostrum cum quaerat, ad optio quam corrupti accusamus fugiat a iusto molestias facilis perspiciatis. Dignissimos magni, eveniet voluptatum eum in, incidunt odit aperiam eius repellendus sequi itaque. Vero minus nostrum repellendus nam unde omnis magnam, labore praesentium non quasi sed sequi nemo. Placeat molestiae alias nesciunt, quod consequuntur repellendus porro.</P>

    <img src="{% static 'broly.jpg' %}" alt="" width="500">

    {% endblock %}

    <h1>INDEX.HTML</h1>
    
    
    
</body>
</html>