<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% load static %}
    <link rel="stylesheet" href="{% static 'archivos css/css principal.css' %}">

    <h3 class="contenedor">DISEÑO HEREDADO: USUARIO_ADMIN</h3>

    <nav class="barra_navegacion_global"><ul>
        <li><a href="{% url 'url name index' %}">ENTRADA</a></li>
        <li><a href="{% url 'url name acerca de' %}">DOCUMENTACIÓN</a></li>
        <li><a href="{% url 'url name tareas' %}">ADMINISTRAR TAREAS</a></li>
        <li><a href="{% url 'url name proyectos' %}">ADMINISTRAR PROYECTOS</a></li>
        <li><a href="{% url 'url name crear tarea' %}">ADMINISTRAR LA CREACION DE TAREAS</a></li>
        <li><a href="{% url 'url name crear proyecto' %}">ADMINISTRAR LA CREACION DE PROYECTOS</a></li>
    </ul></nav>

    <main class="contenedor">
        {% block var_bloque_inicio_contenido_admin %}
        {% endblock %}
    </main>

</body>
</html>