<!-- ESTOS SON ARCHIVOS CREADOS ATRAVES DE UN MODULO DE PYTHON 'TEMPLATE ENGINE'
. permiten ejecutar lógica
. el navegador/frontend recibe otro html ya procesado
. diccionario_titulo puede tambien ser una consulta de base de datos

. TEMPLATE INHERITANCE: interfaz q puede ser heredada/reutilizada en otras interfaces
. especificar en este archivo donde va a ir el contenido que ya tenian las otras páginas

. BLOCK: decirle que en esta seccion habra mas contenido y así la pagina que lo herede podra insertar en esa parte su contenido
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav><ul>
        <li><a href="/">INICIO</a></li>
        <li><a href="/ruta_tareas">TAREAS</a></li>
        <li><a href="/ruta_proyectos">PROYECTOS</a></li>
        <li><a href="/ruta_crear_tarea">CREAR TAREA</a></li>
        <li><a href="/ruta_crear_proyecto">CREAR PROYECTO</a></li>
        <li><a href="/ruta_acerca_de">ACERCA DE</a></li>
    </ul></nav>

    {% block var_bloque_inicio_contenido %}
    {% endblock %}
    
</body>
</html>