<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>DISEÑO HEREDADO: USUARIO_ADMIN</h3>

    <nav><ul>
        <li><a href="/">ENTRADA</a></li>
        <li><a href="/ruta_acerca_de">DOCUMENTACIÓN</a></li>
        <li><a href="/ruta_tareas">ADMINISTRAR TAREAS</a></li>
        <li><a href="/ruta_proyectos">ADMINISTRAR PROYECTOS</a></li>
        <li><a href="/ruta_crear_tarea">ADMINISTRAR LA CREACION DE TAREAS</a></li>
        <li><a href="/ruta_crear_proyecto">ADMINISTRAR LA CREACION DE PROYECTOS</a></li>
    </ul></nav>

    {% block var_bloque_inicio_contenido_admin %}
    {% endblock %}

</body>
</html>