<!-- 
. cuando llamamos formularios de esta forma tienen una propiedad que se puede llamar ejemplo: as_p (para guardarlo en etiquetas p)
. si form action="": el formulario envía los datos atraves de un diccionario query/consulta a la ruta actual (view_funcion_crear_tarea), como no se establece 'acción' los enviar atraves de un metodo GET y esos datos los puede tener backend
. metodo GET: cuando un formulario envía los datos los enviar atraves de la URL 'el formulario esta intentando de obtener datos' y al obtenerlos envia los parámetros al backend puede extraer

csrf_token: poder verificar que	el formulario ha sido generado por nuestro propio servidor de id que django añade a los formularios para que no copien tu sitio	y luego traten de enviar datos desde otro lugar
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'diseños_heredados/base_heredada_1.html' %}

    {% block var_bloque_inicio_contenido %}

    <h1>CREAR TAREA NUEVA</h1>

    <form method="POST"> 
        {% csrf_token %} 
        {{ ref_html_crear_tarea.as_p}} 
        <button>GUARDAR</button>
    </form>

    {% endblock %}
    
</body>
</html>